/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  top: 15px !important;
  overflow-x: auto;
}
.mat-card-title {
  font-size: 16px;

}
.mat-card{
border: 1px #808080 solid;
margin: 5px;
}
